.card{
    min-height: 120px;
}

.card img{
    padding: 10px;
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover; 
  }
  .embed-responsive {
    width: 100%; /* Adjust as needed */
    margin: 0 auto; /* Centers the map */
  }
  .embed-responsive-item {
    height: 700px; /* Adjust as needed */
  }
  