.photo-control{
    min-height : 300px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #ccc;
    margin : 5px ;
}

.custom-button {
    width: 100%; 
    margin-bottom: 10px; 
  }