<div class="row">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
        <div class="card-header">
          Add car
          </div>
        <div class="card-body">
        <form (ngSubmit)='onSubmit($event)' [formGroup]="addCarForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs >
              <tab heading="Basic info" formGroupName="BasicInfo">
                <div class="form-group col-12">
                  <label for="Brand">Brand</label>
                  <input type="text" class="form-control" formControlName="Brand"
                  [(ngModel)]="carView.Brand">
                </div>
                <div class="form-group col-12">
                  <label for="Model">Model</label>
                  <input type="text" class="form-control" formControlName="Model"
                  [(ngModel)]="carView.Model"
                  >
                </div>
                <div class="form-group col-12">
                  <p>Car type</p>
                  <div class="btn-group" btnRadioGroup formControlName="Type" [(ngModel)]="carView.Type">
                    <label 
                    *ngFor="let carType of carTypes"
                    class="btn btn-outline-primary mr-2"
                    [btnRadio]="carType" tabindex="0" role="button" formControlName="Type">{{carType}}</label>
                  </div>
                </div> 
                <div class="form-group col-12">
                  <label for="Year">Year</label>
                  <input type="text" class="form-control" formControlName="Year" [(ngModel)]="carView.Year">
                </div>
                <div class="form-group col-12">
                  <label for="Price">Price (Dolars) </label>
                  <input type="text" class="form-control" formControlName="Price" [(ngModel)]="carView.Price">
                  <div> 
                    <div class="error-block" *ngIf="Price.invalid && (NextClicked || Price.touched) ">
                      Price is required
                    </div>
                  </div>
                </div>
                  <button type="button" class="btn btn-primary btn-block custom-button" (click)="selectTab(1, true)">Next</button>
              </tab>
              
              <tab heading="Detailed information" formGroupName="DetailedInformation">
                <div class="form-group col-12">
                  <label> Km </label> 
                  <input type="text" class="form-control" formControlName="Km" [(ngModel)]="carView.Km">
                </div>
                <div class="form-group col-12">
                  <label> Engine </label>
                  <input type="text" class="form-control" formControlName="Engine" [(ngModel)]="carView.Engine"> 
                </div> 
                <div class="form-group col-12">
                  <label> Power </label>
                  <input type="text" class="form-control" formControlName="Power"[(ngModel)]="carView.Power">
                </div>
                <div class="form-group col-12">
                  <label> Fuel </label>
                  <input type="text" class="form-control" formControlName="Fuel" [(ngModel)]="carView.Fuel">
                </div>
                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block custom-button" (click)="selectTab(2, true)">Next</button>
                  <button type="button" class="btn btn-primary btn-block custom-button" (click)="selectTab(0, true)">Back</button>
                </div>
              </tab>
              
              <tab heading="Other details" formGroupName="OtherDetails">
                <div class="form-group col-12">
                  <p>State</p>
                  <div class="btn-group" btnRadioGroup formControlName="State">
                    <label class="btn btn-outline-primary mr-2" btnRadio="1" role="button" name="State">Buy</label>
                    <label class="btn btn-outline-primary" btnRadio="2" role="button" name="State">Rent</label>
                  </div>
                  <div class="error-block" *ngIf="CarState.invalid && NextClicked">
                    Select state
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Available</p>
                  <div class="btn-group" btnRadioGroup formControlName="Available" [(ngModel)]="carView.Available">
                    <label class="btn btn-outline-primary mr-2 "btnRadio="Available" role="button" name="Available">Yes</label>
                    <label class="btn btn-outline-primary"btnRadio="Not available" role="button" name="Available">No</label>
                  </div>
                </div>
                <div class="form-group col-12">
                  <label for="Description"> Description </label>
                  <textarea type="text" class="form-control" rows="6" 
                  formControlName="Description" 
                  [(ngModel)]="carView.Description" ></textarea>
                </div>
                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block custom-button" (click)="selectTab(3, true)">Next</button>
                  <button type="button" class="btn btn-primary btn-block custom-button" (click)="selectTab(1, true)">Back</button>
                </div>
              </tab>
              <tab heading="Photos">
                <div class="form-group col-12" >
                  <div class="photo-control"> 
                    <button class="mt-5" type="button" >Upload</button>
                    ...
                  </div>
                  <div class="form-group col-12 ">
                    <button type="button" class="btn btn-primary btn-block custom-button" (click)="selectTab(2, true)">Back</button>
                    <button type="reset" class="btn btn-primary btn-block custom-button" >Cancel</button>
                    <button type="submit" class="btn btn-primary btn-block custom-button">Save</button>
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header">
      <h3>Preview</h3>
    </div>
      <div class="shadow-lg p-3 bg-white">
        <app-card [car]="carView" [hideIcons]="true"></app-card>
      </div>
  </div>
</div>

